{% extends 'base.html' %}

{% block content %}
   <div class="shadow-lg p-3 mb-5 bg-white rounded text-center">Blog Articles</div>
 
        {% for post in posts %}
        <div class="container">
        <div class="row">
        <div class="col s12 m4 l6">
          <div class="card">
            <div class="card-image">
              <img src="{{ post.thumb.url }}">
              <span class="card-title">{{ post.title }}</span>
            </div>
            <div class="card-content">
              <p>{{ post.summary}}...</p>
            </div>
            <div class="card-action">
              <a href="/post/{{ post.slug }}">Read more</a>
            </div>
          </div>
        </div>
      </div>
      </div>
            
{% endfor %}
 
{% endblock %}


